@media (min-width: 600px) and (max-width: 1099px) { 
    .responsive-row {
        flex-direction: column!important;
        width: 80%!important;
        justify-content: center!important;
    }

    .responsive-ms-1 {
        margin-left: 16px!important;
    }

    .responsive-sm {
        margin-top: 16px!important;
    }
}

@media (max-width: 599px) {  
    .responsive-row {
        flex-direction: column!important;
        width: 80%!important;
        justify-content: center!important;
    }

    .responsive-ms-1 {
        margin-left: 16px!important;
    }

    .responsive-sm {
        margin-top: 16px!important;
    }
}