<div class="row">
    <div class="column">
        <app-filters (filterValues)="filterData($event)"></app-filters>
    </div>
    <div class="column w-100">
            <app-custom-pagination
                [data]="this.paginationData"
                (emitUpdatePagination)="updatePagination($event)">
            </app-custom-pagination>
    </div>
</div>
<h3 class="ps-1">{{`${this.amount()} ${this.amount() === 1 ? 'painting' : 'paintings'} found`}}</h3>
<div class="card-grid">
    @if(this.allPaintings$ | async; as allPaintings) {        
        @for(painting of allPaintings; track $index) {
            <mat-card appearance="outlined">
                <div class="thumbnail-container">
                    <img class="image-thumbnail" mat-card-image [src]="painting.thumbnail?.base64" [alt]="painting.name" [routerLink]="['/painting-details', painting.id ?? 0]"/>
                </div>                
                <mat-card-header>
                    <mat-card-title [class]="'card-title-max-height'">{{ painting.name }}</mat-card-title>
                    <mat-card-subtitle><strong>Painter:</strong> {{ painting.artist ? painting.artist.name : 'Unknown'}}</mat-card-subtitle>                 
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Style:</strong> {{ painting.style ? painting.style.name : 'Unknown' }}</p>
                    <div class="row fx-space-between">
                        <div class="col w-50">
                            <p><strong>Year:</strong> {{ painting.year }}</p>
                        </div>                        
                        <div class="bottom-row w-50">
                            <button type="button" mat-icon-button color="accent" matTooltip="Show details" [routerLink]="['/painting-details', painting.id ?? 0]">
                                <mat-icon>visibility</mat-icon>                        
                            </button>
                            <button type="button" mat-icon-button color="accent" matTooltip="Edit Painting" [routerLink]="['/create-or-update-painting', painting.id ?? 0]">
                                <mat-icon>edit</mat-icon>                        
                            </button>
                        </div>       
                    </div>
                </mat-card-content>
            </mat-card>
        }
    }
</div>