@if(this.painting$ | async; as painting) {
    <div 
        class="column p-1"
        appScrollToTop  
        [scrollThreshold]="150"  
        (scrollStateChange)="onScrollStateChange($event)"  
        (scrollPosition)="onScrollPosition($event)"
        #topOfDiv
        data-cy="painting-details-column">
        @if(painting.image) {
            <div class="row fx-center" >
                <img mat-card-image [src]="painting.image.base64" [alt]="painting.name"/>
            </div>
        }        
        <div class="row fx-center">
            <h3 data-cy="painting-details-name">{{ painting.name }}</h3>
        </div>
        <div class="row fx-center">
            <div class="column w-50">
                <em data-cy="painting-details-description">{{ painting.description }}</em>
            </div>            
        </div>       
        <div class="row fx-center">
            <div class="column" data-cy="painting-details-artist-name">
                <p class="align-center" #paragraphs><strong>Artist</strong></p>
                {{ painting.artist ? painting.artist.name : 'Unknown' }}
            </div>
            <div class="column ms-2"  data-cy="painting-details-year">
                <p class="align-center" #paragraphs><strong>Year</strong></p>
                {{ painting.year }}
            </div>
            <div class="column ms-2"  data-cy="painting-details-artist-style">
                <p class="align-center" #paragraphs><strong>Style</strong></p>
                {{ painting.style ? painting.style.name : 'Unknown' }}
            </div>
        </div>
        @if(painting.artist) {
            <div class="row fx-center">
                @if(painting.artist.yearOfBirth && painting.artist.yearOfDeath) {
                    <h3 data-cy="painting-details-artist-about">{{`About ${painting.artist.name} (${painting.artist.yearOfBirth} - ${painting.artist.yearOfDeath})`}}</h3>
                } @else {
                    <h3 data-cy="painting-details-artist-about">{{`About ${painting.artist.name} (${painting.artist.yearOfBirth})`}}</h3>                    
                }            
            </div>
            <div class="row fx-center">
                <div class="column w-50">
                    <em data-cy="painting-details-artist-description">{{ painting.artist.description }}</em>
                </div>            
            </div>  
        }   
        @if(painting.style) {
            <div class="row fx-center">
                <h3 data-cy="painting-details-about-style-name">{{`About ${painting.style.name}`}}</h3>
            </div>
            <div class="row fx-center mb-2">
                <div class="column w-50">
                    <em data-cy="painting-details-about-style-description">{{ painting.style.description }}</em>
                </div>            
            </div>  
        }              
    </div>
}
@if(this.isScrollToTopVisible()) {
    <app-scroll-to-top></app-scroll-to-top>
}