<mat-sidenav-container>  
    <mat-sidenav #sidenav [mode]="'side'" opened [style.width.px]="isCollapsed() ? 68 : 250" [class.collapsed]="isCollapsed()">  
        <mat-nav-list>                 
            <a mat-list-item class="mb-1" (click)="disableResizing() ? null : isCollapsed.set(!isCollapsed())" [disabled]="disableResizing()">  
                @if(!isCollapsed()) {  
                    <mat-icon>arrow_left</mat-icon>  
                } @else {  
                    <mat-icon>arrow_right</mat-icon>  
                }  
                @if(!isCollapsed()) {  
                    <span class="aligned-with-icon">Menu</span>  
                }                  
            </a>     
            <hr>  
            @for(item of menuItems(); track $index) {  
                <a mat-list-item [routerLink]="[item.url]">  
                    <mat-icon>{{ item.icon }}</mat-icon>  
                    @if(!isCollapsed()) {  
                        <span class="aligned-with-icon">{{ item.text }}</span>      
                    }                      
                </a>  
            }     
        </mat-nav-list>  
    </mat-sidenav>  
    <mat-sidenav-content         
        [style.margin-left.px]="isCollapsed() ? 68 : 250" 
        appScrollToTop  
        [scrollThreshold]="150"  
        (scrollStateChange)="onScrollStateChange($event)"  
        (scrollPosition)="onScrollPosition($event)"
        #sidenavContent>   
            <router-outlet></router-outlet>  
            @if(isScrollToTopVisible()) {
                <app-scroll-to-top (toTop)="scrollToTop($event)"></app-scroll-to-top>     
            }            
    </mat-sidenav-content>  
</mat-sidenav-container>