<div class="row p-1">
    <button type="button" mat-raised-button color="primary" [routerLink]="['/create-or-update-style']">
      <mat-icon>add</mat-icon>
      <span>Add Style</span>
    </button>
  </div>
  <div class="container p-1">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header data-cy="styles-header-name">Name</th>
            <td mat-cell *matCellDef="let style" data-cy="styles-cell">{{ style.name }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef data-cy="styles-header-action"></th>
              <td mat-cell *matCellDef="let style" data-cy="styles-cell">
                <button mat-icon-button color="primary" matTooltip="Edit style" [routerLink]="['/create-or-update-style', style.id]">
                    <mat-icon>edit</mat-icon>
                </button>
              </td>
          </ng-container>      
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>     
    </table>
    <mat-paginator [length]="total()"
                  [pageSize]="pageSize()"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="updatePagination($event)">
    </mat-paginator>
  </div>