<div class="custom-paginator">
    <div>
      <mat-paginator [length]="pagination().totalCount" 
          [pageSizeOptions]="[5, 10, 15, 20, 25, 50]"
          [pageSize]="pageSize()"
          aria-label="Select page of Paintings"   
                        (page)="updatePagination($event)"                      
                        [showFirstLastButtons]="false"
                        [class]="'hide-nav-buttons'">          
      </mat-paginator>      
    </div>
    <div class="responsive-small-screens-hide">
      {{ `${pagination().from} - ${pagination().to} of ${pagination().totalCount}` }}
    </div>
    <div class="button-container">
      <button mat-icon-button (click)="firstPage()" [disabled]="disableFirstButton()">
        <mat-icon>first_page</mat-icon>
      </button>
      <button mat-icon-button (click)="previousPage()" [disabled]="disablePreviousButton()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="nextPage()" [disabled]="disableNextButton()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-icon-button (click)="lastPage()" [disabled]="disableLastButton()">
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
</div>